# **Data Types and Structures Questions**
**1.What are data structures, and why are they important?**

  Data structures are specialized formats for organizing, storing and accessing collections of data. They provide efficient ways to manage informationnn based on its characteristics and intended use.
  **Importance**
  Choosing the right data structure significantly impacts the efficiency and performance of program.
  well choosen data structure can: simplyfy data manipulation(add,remove).
  Optimize searching and storing operations.
  Conserve memory usage.

**2. Explain the difference between mutable and immutable data types with examples?**

Mutable means which can be change/modified like list, set,dic.
Immutable means which cann't be modified after creation like tuples, string, they stores data in a specific location i.e.using hash table.
eg -:

In [ ]:
l1=[1,2,3,4.2,4+8j]
l1[2]="priyanka"
l1

[1, 2, 'priyanka', 4.2, (4+8j)]

In [ ]:
l2=(1,2,3,4.2,4+8j)
l2[2]= 25
l2

TypeError: 'tuple' object does not support item assignment

**3.What are the main differences between lists and tuples in Python?**

The main difference in tuple and list is that tuble uses hash table that is easy to retrive data while list is mutable that is modification in data can be done.
list uses [ ] to show the data, while tuples uses () bracket for data.

**4.Describe how dictionaries store data?**

Dictionaries uses key value pair to store data (not a specific order) which is accessible by calling key (not by indexing). Each key acts as unique identifier for retreiving an associated value. Key and values can be of various data type (string,number,list and even other dictionaries).

**5.Why might you use a set instead of a list in Python?**

Set is unordered but unique collections of elements while list is ordered collection of elements i.e it results all the element whether the same elements present multiple times where as in set it filtered out the multiple presence of same element and results the unique elements only that's why when uniqueness is priority then set are more preferable than list.

**6.What is a string in Python, and how is it different from a list?**

String is a sequence of character where each character is unit of text, use to represent and manipulate textual data (replacement not changeable as string is immutable), where is list are ordered collection of item and can store any type of data and is mutable.

**7.How do tuples ensure data integrity in Python?**

As tuples are used specific memory location that is following hash table which does not allow to overwrite the data or any modification, i.e. what ever data provided at the time of creation of data it reamins fixed never be changed.

**8.What is a hash table, and how does it relate to dictionaries in Python?**

Hashable means defining a exact incoading i.e. fixed value or memory location. As dictionaries has key-value pair where key is a fixed hash value so when key value is of string and number it run the code besides this it throw an error.

**9.Can lists contain different data types in Python?**

Yes, list can contain any data type whether it is int,complex,bool,float,string,and also can contains list under list i.e. nested list.

**10.Explain why strings are immutable in Python?**

String is characters arranged in an unchangeable order that is follow hash table (immutable) to optimize memory location like writing a sentence ,a paragraph or a piece of material which we don't want to change. They can only altered by replacement.

**11.What advantages do dictionaries offer over lists for certain tasks?**

As disctionaries stores data in key-value pair, they are easy to retrive . Where as in list, have to check all the data for any element.
In dictionary if the same key value assign with new data it will always provided new data only, while in list it provide all the data that is duplicate one also.

**12.Describe a scenario where using a tuple would be preferable over a list.**

As tuples are immutable so use where the changes in data is not desirable like employee id, aadhar , personal info of client, patient medical history etc. On the other side if we use the list, as it is mutable data, can be accessed than modified by indexing and slicing,also use to change the data as per new requirement but not desirable in the scenario of like employee id as it contains that person's designation,experience and salary.

**13.How do sets handle duplicate values in Python?**

As set is unordered unique collection of elements that is, if in input data there is any element present more than one time it automatically pass it and throw only unique element i.e. repetition is not there of any element in output.

**14.How does the “in” keyword work differently for lists and dictionaries?**

"in" keyword in list use to check the membership of any element i.e whether the element is present in the data or not. Where as in  disctionaries "in" keyword is use to check if a key exists in the dictionary or not , not used for the values.

**15.Can you modify the elements of a tuple? Explain why or why not?**

No, modification of element of a tuple is not possible because it allocate a specific location in memory that is exact incoading (immutable type). It provide a secure way to store data that shouldn't be modify.

**16.What is a nested dictionary, and give an example of its use case?**

Nested dictionary means dictionary under another disctionary as its value.
eg-:

In [ ]:
Hostel={
    "Room1":{"name":"ram","age":23,"study":"maths"},
    "Room2":{"name":"manu","age":24,"study":"phy"},
    "Room3":{"name":"summa","age":22,"study":"entonmy"}
      }

In [ ]:
print(Hostel["Room2"]["study"])

phy

**17.Describe the time complexity of accessing elements in a dictionary.**

As dictionary is storing key-value pair using hash table for key it became efficent to access element in dictionary. It directly prrovide the value of the key due to exact incoading.

**18.In what situations are lists preferred over dictionaries?**

List provide index based accessibility while in dict, it is key through values can be access. List maintain order of the elements that is prefered when maintaing data is imortant as list provide order collection of element and throw same in output while in dictionary if any value present multiple time with same key than it throw ony new assign value. List is unhashable type that required less memory space while dict follow hash table to required more memory space.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

In dictionary elements are not stored in a specific order that is iterating over a dictionary could return any order, but in version 3.7 now dictionary retain the order that is (retrieving the data in key) over iteration it will return the same order of element as in input.

**20.Explain the difference between a list and a dictionary in terms of data retrieval.**

For data retrieval in list used the indexing.  while in dictionary it uses key i.e. directly goes to the exact loaction(passs all the other values)of the element. In list there is no use of hash value/table.

# **Practical Questions**
1.Write a code to create a string with your name and print it.

In [ ]:
name="Priyanka"
print(name)

Priyanka

In [ ]:
type(name)

str

2.Write a code to find the length of the string "Hello World".

In [ ]:
len("Hello World")

11

3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
s="Python Programming"
s[0:3]

'Pyt'

4.Write a code to convert the string "hello" to uppercase.

In [ ]:
s= "hello"
s.upper()

'HELLO'

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
s= ("I like apple")
s.replace("apple","orange")

'I like orange'

6.Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
list(range(1,6))
  ''

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
num = [1,2,3,4]
num.append(10)
print(num)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
s= [1,2,3,4,5]
s.remove(3)
print(s)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
a= ['a','b','c','d']
a[1]

'b'

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
s= [10,20,30,40,50]
s[::-1]

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple1= (100,200,300)
print(tuple1)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
t= ('red','green','blue','yellow')
t[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
s= (10,20,5,15)
min(s)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
x=('dog','cat','rabbit')
x.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits= ("apple","banana","orange","grapes","kiwi")
"kiwi" in fruits

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
elements = {'a','b','c'}
elements

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
s={1,2,3,4,5}
s.clear()
s

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
num={1,2,3,4}
num.remove(4)
print(num)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a={1,2,3}
b={3,4,5}
a|b

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
A= {1,2,3}
B= {2,3,4}
A&B

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
details= {"name":"Alexa","age":7,"city":"washington"}
details

{'name': 'Alexa', 'age': 7, 'city': 'washington'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
s= {"name":"John","age":25}
d={"country":"USA"}
s.update(d)
s

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
d1= {"name":"Alice","age":30}
d1["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
detail = {"name":"Bob","age":22,"city":"New York"}
detail.pop("age")
detail

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
d= {"name":"Alice","city":"Paris"}
"city" in d

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
one_list = list(range(1,10,2))
a= tuple(range(2,30,3))
c= {"num":[1,2,3,4]}
print(one_list)
print(a)
print(c)

[1, 3, 5, 7, 9]
(2, 5, 8, 11, 14, 17, 20, 23, 26, 29)
{'num': [1, 2, 3, 4]}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random
num = random.sample(range(1,100),5)
num.sort()
print(num)

[7, 17, 26, 48, 88]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
z = "priyanka,suman,ritika,ram,rahul"
z

'priyanka,suman,ritika,ram,rahul'

In [ ]:
type(z)

str

In [ ]:
x=z.split(',')
x

['priyanka', 'suman', 'ritika', 'ram', 'rahul']

In [ ]:
type(x)

list

In [ ]:
x[3]

'ram'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
a= {"games":["cricket","badminton"],"student":["play","not play"]}
a

{'games': ['cricket', 'badminton'], 'student': ['play', 'not play']}

In [ ]:
a["place"]= "indoor","outdoor"
a

{'games': ['cricket', 'badminton'],
 'student': ['play', 'not play'],
 'place': ('indoor', 'outdoor')}

30. Write a code to convert a list of strings into a set.

In [ ]:
listA =["Hema","sudha","priya","data science","pwskills"]
type(listA)

list

In [ ]:
listA[0]

'Hema'

In [ ]:
type(listA[0])

str

In [ ]:
type(listA[2])

str

In [ ]:
set(listA)

{'Hema', 'data science', 'priya', 'pwskills', 'sudha'}

In [ ]:
type(set(listA))

set